//==========ОБНУЛЕНИЕ И ОБЩИЕ ПАРАМЕТРЫ==========//

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #D8D8D8;
  background: #1C202A;
  min-height: 100vh;
  padding-bottom: 190px;
  position: relative;
  @media (max-width: 768px) {
    padding-bottom: 230px;
  }
  @media (max-width: 540px) {
    padding-bottom: 330px;
  }
  @media (max-width: 440px) {
    padding-bottom: 370px;
  }
  &.home {
    position: relative;
    z-index: 2;
    &:before {
      content: '';
      display: block;
      width: 1383.04px;
      height: 1175.74px;
      position: absolute;
      right: 0;
      top: 17%;
      z-index: -1;
      background-image: url('../images/bg-1.svg');
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
    }
    &:after {
      content: '';
      display: block;
      width: 844px;
      height: 1122px;
      position: absolute;
      left: 0;
      bottom: 30%;
      z-index: -1;
      background-image: url('../images/bg-2.svg');
      background-repeat: no-repeat;
      background-position: center left;
      background-size: contain;
    }
    &:before,
    &:after {
      @media (max-width: 768px) {
        display: none;
      }
    }
    .header {
      background: #1C202A;
      &__nav {
        display: block;
      }
      &__body {
        justify-content: space-between;
        align-items: center;
        @media (max-width: 580px) {
          justify-content: flex-end;
        }
      }
    }
  }
  &.dash {
    @media (max-width: 960px) {
      padding-bottom: 0;
      footer {
        bottom: auto;
        top: 100%;
        .bg-animation {
          height: 100%;
        }
      }
    }
    
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3 h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  color: inherit;
}

img {
  max-width: 100%;
}

.title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  @media (max-width: 580px) {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 21px;
  }
}

.input {
  display: block;
  width: 100%;
  padding: 23px 15px 23px 27px;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  background: transparent;
  transition: .2s linear;
  &--copy {
    cursor: pointer;
    padding-right: 15px;
    color: #A4A4A4;
    font-weight: 300;
    text-overflow: ellipsis;
    @media (min-width: 991px) {
      &:hover {
        color: #FDC168;
      }
    }
  }
  &::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: .2s linear;
  }
  &:focus {
    border-color: #FDC168;
    &::placeholder {
      color: #FDC168;
    }
  }
  @media (min-width: 991px) {
    &:hover {
      border-color: #FDC168;
      &::placeholder {
        color: #FDC168;
      }
    }
  }
  @media (max-width: 440px) {
    padding: 21px 0 20px 21px;
    font-size: 10px;
    line-height: 12px;
  }
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #FDC168;
  padding: 22px 0;
  border: 1px solid #FDC168;
  border-radius: 2px;
  cursor: pointer;
  background: transparent;
  transition: .2s linear;
  @media (min-width: 991px) {
    &:hover {
      color: #1C202A;
      background: #FDC168;
    }
  }
  @media (max-width: 440px) {
    font-size: 12px;
    line-height: 14px;
    padding: 19px 0 20px;
  }
}

.title {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  letter-spacing: 1.1px;
  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #FDC168;
    box-shadow: 0px 0px 15px rgba(253, 193, 104, 0.25);
    filter: drop-shadow(0px 0px 2px #FDC168);
    margin-right: 11px;
  }
}

.block-pattern {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &--top {
    top: 0;
  }
  &--bottom {
    bottom: 0;
    flex-direction: column-reverse;
    .block-pattern__item:last-child {
      margin: 0 0 5px;
    }
  }
  &__item {
    display: block;
    height: 1px;
    background: #FDC168;
    box-shadow: 0px 0px 10px rgba(253, 193, 104, 0.25);
    filter: drop-shadow(0px 0px 2px #FDC168);
    &:last-child {
      margin-top: 5px;
    }
    &--longer {
      width: 105px;
    }
    &--shorter {
      width: 41px;
    }
  }
}

.checkbox {
  display: flex;
  input {
    width: 0;
    height: 0;
    pointer-events: none;
    opacity: 0;
    &:checked + label:before {
      filter: drop-shadow(0px 0px 2px #FDC168);
    }
    &:checked + label:after {
      opacity: 1;
      visibility: visible;
    }
  }
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.06em;
    color: #A4A4A4;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 0.5px solid #FDC168;
      border-radius: 1px;
      margin-right: 15px;
      transition: .2s linear;
      @media (max-width: 580px) {
        margin-right: 5px;
      }
    }
    &:after {
      content: '';
      width: 10px;
      height: 8px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(50%, -50%);
      background: url('../images/icons/checkbox.svg') no-repeat center;
      opacity: 0;
      visibility: hidden;
      transition: .2s linear;
    }
    @media (min-width: 991px) {
      &:hover {
        &:before {
          filter: drop-shadow(0px 0px 2px #FDC168);
        }
      }
    }
  }
}

.form {
  max-width: 507px;
  margin: 0px auto;
  background: #212632;
  box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 70px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
  }
  
  &__input {
    margin-bottom: 24px;
  }
  
  &__btn {
    margin-bottom: 33px;
  }
  
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__link {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.06em;
    color: #A4A4A4;
    transition: .2s linear;
    @media (min-width: 991px) {
      &:hover {
        color: #FDC168;
        text-shadow: 0px 0px 45px rgba(253, 193, 104, 0.45);
      }
    }
  }
  .title {
    margin-bottom: 0;
  }
}

.page {
  height: 100vh;
}

.login {
  padding: 144px 15px 0px;
}

.registr {
  padding: 112px 15px 0px;
}

.confirm {
  padding: 183px 15px 0px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  @media (max-width: 768px) {
    padding: 0 20px 0;
    height: 100vh;
  }
  &__num {
    font-weight: 700;
    font-size: 256px;
    line-height: 303px;
    color: transparent;
    -webkit-text-stroke: 2px #FDC168;
    filter: drop-shadow(0px 0px 15px #FDC168);
    @media (max-width: 768px) {
      font-size: 150px;
      line-height: 170px;
    }
    @media (max-width: 580px) {
      font-size: 96px;
      line-height: 114px;
    }
  }
  &__descr {
    display: flex;
    align-items: center;
    span {
      font-size: 24px;
      line-height: 28px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      @media (max-width: 768px) {
        font-size: 20px;
        line-height: 20px;
      }
      @media (max-width: 580px) {
        font-size: 22px;
        line-height: 26px;
      }
    }
    div {
      flex: 1 1 auto;
      width: 274px;
      height: 1px;
      background: #FDC168;
      margin-left: 30px;
      filter: drop-shadow(0px 0px 15px #FDC168);
      @media (max-width: 768px) {
        width: 200px;
      }
      @media (max-width: 580px) {
        display: none;
      }
    }
  }
  &__btn {
    margin-top: 50px;
    @media (min-width: 581px) {
      display: none;
    }
  }
}

.for-bg-animation {
  position: relative;
}

.bg-animation {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: bgOp 1.5s linear;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  &--intro {
    transform: rotate(180deg);
    left: -2px;
    top: 15%;
    @media (max-width: 768px) {
      top: 10%;
    }
  }
  svg {
    position: absolute;
    top: 50%;
    left: -1px;
    z-index: -1;
    transform: translate(0%, -50%);
    width: 100%;
    height: 300px;
    overflow: visible;
    path {
      position: relative;
      z-index: -1;
    }
    @media (max-width: 580px) {
      height: 150px;
    }
  }
}

@keyframes bgOp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main--dash {
  .bg-animation {
    height: 180%;
    @media (max-width: 580px) {
      height: 100%;
    }
  }
}

//==========/ОБНУЛЕНИЕ И ОБЩИЕ ПАРАМЕТРЫ==========//

//==========ОСНОВНАЯ СЕТКА==========//

.container {
  width: 100%;
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 320px) {
    padding: 0 20px;
  }
}

//==========/ОСНОВНАЯ СЕТКА==========//

//========ПОДКЛЮЧЕНИЕ ФАЙЛОВ СО СТИЛЯМИ========//

@import './blocks/header';
@import './blocks/select';
@import './blocks/intro';
@import './blocks/stats';
@import './blocks/about';
@import './blocks/plans';
@import './blocks/faq';
@import './blocks/statistic';
@import './blocks/aside';
@import './blocks/dashboard';
@import './blocks/footer';
//
////========/ПОДКЛЮЧЕНИЕ ФАЙЛОВ СО СТИЛЯМИ========//
